BookCatalogueClient/Connected Services/BooksCatalogueService/item3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BookCatalogueDemo" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BookCatalogueDemo" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FaultExceptionHandler">
    <xs:sequence>
      <xs:element minOccurs="0" name="Details" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Error" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FaultExceptionHandler" nillable="true" type="tns:FaultExceptionHandler" />
</xs:schema>